<h1>FunnyDev</h1>
<form>
    <input type="text"/>
    <input type="text"/>
    <button class="btn btn-primary">Sign in</button>
    <button type="button" class="btn btn-link" onclick="location.pathname = '/sign-up'">Sign up</button>
</form>