<h1>FunnyDev</h1>
<form>
    <input type="text" placeholder="Login"/><br>
    <input type="text" placeholder="Password"/><br>
    <label for="remember">Remember me</label>
    <input type="checkbox" id="remember"/><br>
    <button class="btn btn-primary">Sign in</button>
    <button type="button" class="btn btn-link" onclick="location.pathname = '/sign-up'">Sign up</button>
</form>